/* Menu */
nav-wrapper{height:40px; padding-right:18px; position:absolute; top:35px; right:20px; background:#f5f5f5; border:1px solid #ddd; border-radius:6px; -o-border-radius:6px; -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; z-index:50}
nav{float:left; padding-left:13px; margin-top:2px}
nav a{text-decoration:none}
nav .login a, #nav .rss a, #nav .twitter a{padding:0 6px 0 23px}
nav .facebook, #nav .rss, #nav .login{padding-left:6px}
nav .login a:hover, .rss a:hover, .facebook a:hover{color:#a1a1a1}
nav .login a{background:url(https://lh6.googleusercontent.com/-_IegzA8CB3Y/ThuA2JYqQSI/AAAAAAAAAig/z-FouLmhbwo/mini_icons.png) no-repeat -171px -165px}
nav .rss a{background:url(https://lh6.googleusercontent.com/-_IegzA8CB3Y/ThuA2JYqQSI/AAAAAAAAAig/z-FouLmhbwo/mini_icons.png) no-repeat -247px -241px}
nav .facebook a{background:url(https://lh6.googleusercontent.com/-_IegzA8CB3Y/ThuA2JYqQSI/AAAAAAAAAig/z-FouLmhbwo/mini_icons.png) no-repeat -100px -100px}

/* Sliding Menu */
.jqueryslidemenu ul li a{display:block; height:37px; line-height:35px; outline:none; padding:0 10px; text-align:center}
.jqueryslidemenu ul ul a, .jqueryslidemenu ul ul li{background-color:#f5f5f5; background-image:none; padding:0 5px}
* html .jqueryslidemenu ul li a{display:inline-block}
.jqueryslidemenu ul li a:link, .jqueryslidemenu ul li a:visited{color:#999}
.jqueryslidemenu ul li a:hover{color:#484848}
.jqueryslidemenu ul li ul{display:block; left:0; position:absolute; visibility:hidden}
.jqueryslidemenu ul li ul li{display:list-item; float:none}
.jqueryslidemenu ul li ul li ul{top:0}
.jqueryslidemenu ul li ul li a{border-bottom:1px solid #ededed; border-top-width:0; margin:0; padding:0 0 0 6px; text-align:left; width:160px}
.jqueryslidemenuz ul li ul li a:hover{background:#1a1919; color:#fff}
.jqueryslidemenu ul li, .jqueryslidemenu ul li li{display:inline; float:left; position:relative}
